body{
  background-color: #efefef;
}

.fade-in{
  animation:  fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.clogin{
  color: #4b39b5;
  font-size:35px;
  position: relative;
  left: 125px;
  margin: 75px auto auto auto;
}

.container{
   margin: auto auto 100px auto;
}

.alice
{
  position: relative;
  left: 85px;
  margin: auto;
}
.back{
  background-color:white;
}
.end{
  width:100%;
  height:70px;
  background-color: white;
}
a{
  color: black;
  text-decoration: none;
}
